.blob {
  position: absolute;
  border-radius: 9999px;
  filter: blur(140px);
  opacity: 0.3;
  animation: blob 30s infinite ease-in-out;
}

.blob-purple {
  width: 18rem;
  height: 18rem;
  background: #a855f7;
  top: 150px;
  left: 100px;
}

.blob-pink {
  width: 24rem;
  height: 24rem;
  background: #ec4899;
  top: 100px;
  right: 150px;
  animation-delay: -10s;
}

.blob-yellow {
  width: 20rem;
  height: 20rem;
  background: #facc15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -20s;
}

@keyframes blob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(60px, -40px) scale(1.1);
  }
  66% {
    transform: translate(-40px, 60px) scale(0.95);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.text-sphere {
  width: 420px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagcloud--item img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  opacity: 0.9;
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.tagcloud--item:hover img {
  filter: none;
  transform: scale(1.25);
}
