@import "tailwindcss";
@plugin "tailwindcss-animate";

@layer components {
  .text-gradient {
    background: linear-gradient(270deg, #a855f7, #ec4899, #6366f1, #a855f7);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s ease infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
